site_name: Postman
site_url: https://jajir.github.io/postman/
nav:
    - Home: index.md
    - Analýza: analyza.md
    - 'Usecases':
        - UC-04 - UC-07: uc-00.md
        - UC-10 - UC-13: uc-10.md
        - UC-20 - UC-29: uc-20.md
        - UC-31 - UC-36: uc-30.md
        - UC-40 - UC-49: uc-40.md
        - UC-50 - UC-65: uc-50.md
    - Stavy: states.md
    - Šablony: templates.md
    - Obrazovky: screens.md
    - Architektura: architecture.md
    - Schůzky: meetings.md
    - Poznámky: notes.md
    - Změny: changelog.md
    - Jak přispět: how-to-contribute.md

theme:
    name: material
plugins:
    - build_plantuml:
        render: "server" # or "local" for local rendering
        bin_path: "/usr/local/bin/plantuml" # ignored when render: server
        server: "http://www.plantuml.com/plantuml" # offical plantuml server
        output_format: "png" # or "svg"
        diagram_root: "docs/diagrams" # should reside under docs_dir
        output_folder: "out"
        input_folder: "src"
dev_addr: 127.0.0.1:8080